@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@font-face {
  font-family: Roboto-Light;
  src: url("../font/roboto/Roboto-Light.ttf"); }

@font-face {
  font-family: Roboto-Italic;
  src: url("../font/roboto/Roboto-Italic.tff"); }

a:hover {
  text-decoration: none; }

p {
  margin: 0; }

img {
  display: block; }

.about-us {
  color: #283238;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px; }

.sign-in {
  border: 2px solid #8BC34A;
  border-radius: 100px;
  padding: 10px 20px;
  color: #8BC34A;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px; }

.start-now {
  padding: 15px 47px;
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(138.88deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(138.88deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 21px;
  outline: none; }

.title {
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;
  color: #444444; }

.title [class^="ti-"] {
  color: #444444;
  font-size: 36px;
  margin-right: 19px; }

.text {
  color: #283238;
  font-size: 14px;
  font-style: italic;
  line-height: 19px; }

.text-content {
  color: #283238;
  font-size: 13.3px;
  line-height: 24px;
  text-align: justify; }

.line [class^="ti-"] {
  font-size: 18px;
  color: #8BC34A;
  float: left; }

.line p {
  font-family: Roboto-Light;
  width: 93.5%;
  float: left; }

.col-lg-2 {
  padding: 0; }

footer a {
  color: #D0D8DC;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px; }

footer .p-title {
  color: #8BC34A;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px; }

footer [class^="ti-"] {
  font-size: 13px;
  color: #8BC34A; }

.group {
  width: 200px; }
  .group > p {
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px; }

.oval {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 109.5px;
  width: 109.5px;
  border: 2.5px solid #FFFFFF;
  border-radius: 50%;
  position: relative; }
  .oval [class^="ti-"] {
    color: #FFFFFF;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .oval .mini-oval {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 45.5px;
    width: 45.5px;
    border-radius: 50%;
    border: 2.5px solid #FFFFFF;
    background-color: #7CB342;
    position: absolute;
    top: 75%;
    left: 30%; }
    .oval .mini-oval p {
      font-size: 24px;
      letter-spacing: 1px;
      color: #FFFFFF;
      padding: 8px 13px; }

h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 63px;
  color: #FFFFFF;
  margin: 0; }

[class^="ti-quote-"] {
  opacity: 0.4;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 73px;
  text-align: justify; }

.description {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify; }

.info {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.info:hover {
  max-width: 100%;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.oval-ava-small {
  height: 80px;
  width: 80px;
  margin: auto; }

.info {
  color: #FFFFFF;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 19px; }
  .info .name {
    font-size: 13px;
    font-weight: 300;
    line-height: 25px; }
  .info .job {
    font-size: 10px;
    font-weight: 300;
    line-height: 10px; }

.col-lg-1 .simple-right {
  margin-top: -15px; }

.copyright {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: #D0D8DC; }

.slick-dots li button:before {
  font-size: 10px;
  color: #FFFFFF; }

.slick-dots li.slick-active button:before {
  color: #FFFFFF; }

.slick-slide {
  outline: none; }

body {
  color: #283238;
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
  text-align: justify; }

header {
  height: 873px;
  width: 100%;
  background-image: url("../img/pc/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

a {
  text-decoration: none; }

header .container {
  padding-top: 43px; }
  header .container .about-us {
    float: right;
    margin-right: 38px;
    margin-top: 10px; }
  header .container .sign-in {
    float: right; }
  header .container .hapo-erp {
    padding-top: 165px; }
    header .container .hapo-erp img {
      margin: auto; }
  header .container .row .group-icon {
    padding-top: 53px;
    float: left;
    width: 33.3333333333%;
    text-align: center; }
    header .container .row .group-icon div {
      font-size: 48px;
      color: #283238;
      margin-bottom: 14px; }
  header .container .row p {
    color: #283238;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px; }
  header .container .slogan {
    padding-top: 44px; }
    header .container .slogan p {
      color: #283238;
      font-family: Roboto;
      font-size: 18px;
      font-style: italic;
      line-height: 24px;
      text-align: center;
      margin: 0; }
  header .container .button {
    padding-top: 31px;
    text-align: center; }

.today-i-learnt {
  height: 571px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  .today-i-learnt .container {
    padding-top: 100px; }
    .today-i-learnt .container .text {
      padding-top: 15px; }
    .today-i-learnt .container .text-content {
      padding-top: 25px; }
    .today-i-learnt .container .button {
      padding-top: 30px; }

.daily-report {
  height: 570px; }
  .daily-report .container {
    padding-top: 100px; }
    .daily-report .container .text {
      padding-top: 15px; }
    .daily-report .container .text-content {
      padding-top: 25px; }
    .daily-report .container .button {
      padding-top: 30px; }
    .daily-report .container .image {
      padding-top: 16px; }

.circle {
  height: 322px;
  background: -webkit-linear-gradient(135deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(135deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%); }
  .circle .container {
    padding-top: 68px; }
    .circle .container .group {
      text-align: center; }
      .circle .container .group .oval {
        margin: auto; }

.members {
  height: 588px; }
  .members .container {
    padding-top: 100px; }
    .members .container .text {
      padding-top: 15px;
      margin-bottom: 26px; }
    .members .container .line {
      height: 50px;
      margin-top: 17px; }
      .members .container .line p {
        padding-left: 18px; }
    .members .container img {
      margin: auto;
      max-width: 100%; }
    .members .container .button {
      padding-top: 30px; }

.customer {
  height: 578px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.5); }
  .customer .container {
    padding-top: 100px; }
    .customer .container .image {
      padding-top: 24px; }
      .customer .container .image img {
        margin: auto;
        max-width: 100%; }
    .customer .container .text {
      padding-top: 15px;
      margin-bottom: 25px; }
    .customer .container .line {
      height: 50px;
      margin-top: 17px; }
      .customer .container .line p {
        padding-left: 18px; }
    .customer .container .button {
      padding-top: 30px; }

.our-customer {
  height: 544px;
  background-color: rgba(40, 50, 56, 0.9);
  background-image: url("../img/pc/Rectangle3.jpg"); }
  .our-customer .container {
    text-align: center;
    padding-top: 50px; }
    .our-customer .container .description {
      margin-top: 51px; }

.project {
  height: 570px; }
  .project .container {
    padding-top: 100px; }
    .project .container .text {
      padding-top: 15px; }
    .project .container .text-content {
      padding-top: 25px; }
    .project .container .image {
      padding-top: 16px; }
      .project .container .image img {
        margin: auto;
        max-width: 100%; }
    .project .container .button {
      padding-top: 30px; }

footer {
  height: 180px;
  border: 1px solid #ECEFF1;
  background-color: #39474E;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  footer .p-title {
    padding-top: 54px;
    margin-bottom: 14px; }
  footer .social-network {
    margin-top: 108px; }
    footer .social-network [class^="ti-"] {
      margin-right: 37px; }
    footer .social-network .ti-linkedin {
      margin-right: 0px; }
  footer .column {
    padding-top: 47px; }
  footer .copyright {
    padding-top: 46px; }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .start-now {
    padding: 11px 27px;
    font-size: 14px;
    line-height: 19px; }
  .title {
    font-size: 24px;
    line-height: 32px; }
    .title [class^="ti-"] {
      font-size: 20px;
      margin-right: 13px; }
  .text {
    font-size: 13px;
    line-height: 24px;
    font-family: Roboto-Italic; }
  .text-content {
    font-size: 13px;
    line-height: 21px; }
  .line [class^="ti-"] {
    font-size: 18px; }
  .line p {
    font-size: 13px;
    line-height: 21px;
    text-align: justify; }
  .p-title {
    font-size: 12px;
    line-height: 16px; }
  h2 {
    font-size: 24px;
    line-height: 32px; }
  .info {
    padding-top: 38px; }
  [class^="ti-quote-"] {
    font-size: 48px;
    line-height: 48px; }
  .description {
    font-size: 14px;
    line-height: 25px; }
  .col-lg-1 .simple-right {
    padding-top: 0px; }
  header {
    height: 265.75px;
    background-image: url("../img/MB/Rectangle.jpg");
    background-size: cover; }
    header .container {
      padding-top: 15px; }
      header .container .hapo-erp {
        padding-top: 8px; }
        header .container .hapo-erp img {
          width: 96px; }
      header .container .about-us {
        font-weight: 500;
        margin-right: 23px; }
      header .container .sign-in {
        margin-right: 5px; }
      header .container .row .group-icon {
        padding-top: 20px; }
        header .container .row .group-icon div {
          font-size: 18px;
          margin-bottom: 8px; }
      header .container .row p {
        font-size: 18px;
        line-height: 24px; }
      header .container .slogan {
        padding-top: 15px; }
        header .container .slogan p {
          font-family: Roboto-Italic;
          font-size: 9px;
          line-height: 11px; }
      header .container .button {
        padding-top: 15px; }
  .today-i-learnt {
    height: 687px; }
    .today-i-learnt .container {
      padding-top: 30px;
      text-align: center; }
      .today-i-learnt .container .text {
        padding-top: 5px; }
      .today-i-learnt .container .text-content {
        padding-top: 21px;
        text-align: justify; }
      .today-i-learnt .container img {
        max-width: 100%;
        padding-top: 10px;
        margin: auto; }
      .today-i-learnt .container .button {
        padding-top: 20px; }
  .daily-report {
    height: 671px; }
    .daily-report .container {
      text-align: center;
      padding-top: 30px; }
      .daily-report .container .text {
        padding-top: 5px; }
      .daily-report .container .text-content {
        padding-top: 15px; }
      .daily-report .container .image {
        padding-top: 15px; }
        .daily-report .container .image img {
          max-width: 100%;
          margin: auto; }
      .daily-report .container .button {
        padding-top: 15px; }
  .circle {
    height: 296px; }
    .circle .container {
      padding-top: 38.75px; }
      .circle .container .group > p {
        font-size: 14px;
        line-height: 19px; }
  .members {
    height: 804px; }
    .members .container {
      padding-top: 30px;
      text-align: center; }
      .members .container .text {
        padding-top: 5px;
        margin-bottom: 0px; }
      .members .container .line {
        height: 67px;
        margin-bottom: 15px; }
        .members .container .line p {
          padding-left: 13px; }
      .members .container .image img {
        max-width: 100%;
        margin: auto; }
  .customer {
    height: 0px; }
  .our-customer {
    height: 525px;
    background-image: url("../img/MB/Rectangle3.jpg"); }
    .our-customer .container {
      padding-top: 25px; }
      .our-customer .container .description {
        margin: 0; }
      .our-customer .container .col-xs-2 .simple-left {
        margin-top: 16px; }
  .project {
    height: 671px; }
    .project .container {
      text-align: center;
      padding-top: 30px; }
      .project .container .text {
        padding-top: 5px; }
      .project .container .text-content {
        padding-top: 10px; }
      .project .container .image {
        padding-top: 0px; }
        .project .container .image img {
          max-width: 100%;
          margin: auto; }
      .project .container .button {
        padding-top: 10px; }
  footer {
    height: 210px; }
    footer .container {
      padding-top: 24px; }
      footer .container .col-xs-3 {
        padding-right: 0;
        padding-left: 10px; }
      footer .container .col-xs-6 {
        padding-left: 10px; }
      footer .container .p-title {
        padding-top: 25px; }
      footer .container .copyright {
        padding-top: 26px; }
      footer .container .social-network {
        margin-top: 0px;
        padding-top: 24px; }
        footer .container .social-network [class^="ti-"] {
          font-size: 13px;
          margin-right: 21px; }
        footer .container .social-network .ti-linkedin {
          margin-right: 0px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .start-now {
    padding: 13px 27px;
    font-size: 14px;
    line-height: 19px; }
  .title {
    font-size: 36px;
    line-height: 48px; }
    .title [class^="ti-"] {
      font-size: 30px;
      margin-right: 13px; }
  .text {
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto-Italic; }
  .text-content {
    font-size: 11px;
    line-height: 21px; }
  .line [class^="ti-"] {
    font-size: 18px; }
  .line p {
    font-size: 11px;
    line-height: 21px;
    text-align: justify; }
  .group > p {
    font-size: 16px;
    line-height: 21px; }
  [class^="ti-quote-"] {
    font-size: 64px; }
  .description {
    position: relative; }
    .description .ti-quote-left {
      position: absolute;
      left: -60px;
      top: -60px; }
    .description .ti-quote-right {
      position: absolute;
      right: -60px;
      bottom: -45px; }
  h2 {
    font-size: 36px;
    line-height: 48px; }
  header {
    height: 426px;
    background-image: url("../img/tablet/Rectangle.jpg");
    background-size: cover; }
    header .container {
      padding-top: 19px; }
      header .container img {
        width: 144px; }
      header .container .hapo-erp {
        padding-top: 30px; }
      header .container .row .group-icon {
        padding-top: 40px; }
        header .container .row .group-icon div {
          font-size: 24px;
          margin-bottom: 7px; }
      header .container .row p {
        font-size: 24px;
        line-height: 32px; }
      header .container .slogan {
        padding-top: 15px; }
        header .container .slogan p {
          font-family: Roboto-Italic;
          font-size: 14px;
          line-height: 19px; }
      header .container .button {
        padding-top: 30px; }
  .today-i-learnt {
    height: 526px;
    text-align: center; }
    .today-i-learnt .container {
      padding-top: 51px; }
      .today-i-learnt .container .text {
        padding-top: 15px; }
      .today-i-learnt .container .text-content {
        padding-top: 25px; }
      .today-i-learnt .container img {
        max-width: 100%;
        padding-top: 25px;
        margin: auto; }
  .daily-report {
    height: 520px; }
    .daily-report .container {
      text-align: center;
      padding-top: 50px; }
      .daily-report .container .text {
        padding-top: 15px; }
      .daily-report .container .text-content {
        padding-top: 31px;
        text-align: justify; }
      .daily-report .container .image {
        padding-top: 33px; }
        .daily-report .container .image img {
          margin: auto;
          max-width: 100%; }
      .daily-report .container .button {
        padding-top: 20px; }
  .circle {
    height: 288px; }
    .circle .container {
      padding-top: 48.75px; }
  .members {
    height: 557px; }
    .members .container {
      padding-top: 30px;
      text-align: center; }
      .members .container .text {
        padding-top: 15px;
        margin-bottom: 39px; }
      .members .container .line {
        height: 61px;
        margin-bottom: 20px; }
        .members .container .line p {
          padding-left: 11px; }
      .members .container img {
        max-width: 100%;
        margin: auto; }
  .customer {
    height: 503px; }
    .customer .container {
      text-align: center;
      padding-top: 39px; }
      .customer .container .text {
        padding-top: 15px;
        margin-bottom: 0px; }
      .customer .container img {
        margin: auto;
        width: 100%; }
      .customer .container .line {
        height: 63px;
        margin-bottom: 15px; }
        .customer .container .line p {
          padding-left: 11px;
          text-align: justify; }
  .our-customer {
    background-image: url("../img/tb/Rectangle3.jpg"); }
    .our-customer .container {
      padding-top: 50px; }
      .our-customer .container .info {
        padding-top: 30px; }
  .project {
    height: 518px; }
    .project .container {
      text-align: center;
      padding-top: 50px; }
      .project .container .text {
        padding-top: 15px; }
      .project .container img {
        padding-top: 18px;
        margin: auto;
        max-width: 100%; }
      .project .container .text-content {
        text-align: justify;
        padding-top: 25px; }
  footer .social-network [class^="ti-"] {
    margin-right: 17px; }
  footer .social-network .ti-linkedin {
    margin-right: 0px; } }

/*# sourceMappingURL=style.css.map */