@import "variables";
body{
  color: $color-2;
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
  text-align: justify;
}
header{
  width: 100%;
  background-image: url("../img/pc/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
}
header{
  .container{
    padding-top: 43px;
        .about-us{
        float: right;
        margin-right: 38px ;
        margin-top: 10px;
        }
        .sign-in{
          float: right;
        }
    .hapo-erp{
      padding-top: 165px;
      img{
        margin: auto;
      }
    }
    .row{
      .group-icon{
        padding-top: 53px;
        float:left;
        width: 33.3333333333%;
        text-align: center;
        div{
          font-size: 48px;
          color: $color-2;
          margin-bottom: 14px;
        }
      }
      p{
        color: $color-2;
        font-size: 36px;
        font-weight: 300;
        line-height: 48px;
      }
    }
    .slogan{
      padding-top: 44px;
      p{
        color: $color-2;
        font-family: Roboto;
        font-size: 18px;
        font-style: italic;
        line-height: 24px;
        text-align:center ;
        margin: 0;
      }
    }
    .button{
      padding-top: 31px;
      padding-bottom: 233px;
      text-align: center;
    }
  }
}

.col-md-6 {
  img {
    max-width: 100%;
  }
}
.today-i-learnt{
  background-color: $color-3;
  box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
  .container{
    padding-top: 100px;

    .text{
      padding-top: 15px;
    }
    .text-content{
      padding-top: 25px;
    }
    img{
      max-width: 100%;
    }
    .button{
      padding-top: 30px;
      padding-bottom: 101px;
    }
  }
}
.daily-report{
  .container{
    padding-top: 100px;
    .text{
      padding-top: 15px;
    }
    .text-content{
      padding-top: 25px;
    }
    .button{
      padding-top: 30px;
      padding-bottom: 100px;
    }
    .image{
      padding-top: 16px;
      img{
        max-width: 100%;
      }
    }
  }
}
.circle{
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
  .container{
    padding-top: 68px;
    padding-bottom: 70px;
    .group{
      text-align: center;
      .oval{
        margin: auto;
      }
    }
  }
}
.members{
  .container{
    padding-top: 100px;
    .text{
      padding-top: 15px;
      margin-bottom: 26px;
    }
    .line{
      height:50px;
      margin-top: 17px;
      p{
        padding-left: 18px;
      }
    }
    img{
      margin: auto;
      max-width: 100%;
    }
    .button{
      padding-top: 30px;
      padding-bottom: 101px;
    }
  }
}
.customer{
  background-color: $color-3;
  box-shadow: 0 15px 35px 0 rgba(0,0,0,0.5);
  .container{
    padding-top: 100px;
    .image{
      padding-top: 24px;
      img{
        margin: auto;
        max-width: 100%;
      }
    }
    .text{
      padding-top: 15px;
      margin-bottom: 25px;
    }
    .line{
      height:50px;
      margin-top: 17px;
      p{
        padding-left: 18px;
      }
    }
    .button{
      padding-top: 30px;
      padding-bottom: 100px;
    }
  }

}
.our-customer{
  background-color: rgba(40,50,56,0.9);
  background-image: url("../img/pc/Rectangle3.jpg");
  background-repeat: no-repeat;
  .container{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 29px;
    .description{
        margin-top: 51px;
    }
  }
  }
.project{
  .container{
    padding-top: 100px;
    .text{
      padding-top: 15px;
    }
    .text-content{
      padding-top: 25px;
    }
    .image{
      padding-top: 16px;
      img{
        margin: auto;
        max-width: 100%;
      }
    }
    .button{
      padding-bottom: 100px;
      padding-top: 30px;
    }
  }
}
footer {
  border: 1px solid #ECEFF1;
  background-color: #39474E;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  .container{
    padding-bottom: 54px;
    .p-title {
      padding-top: 54px;
      margin-bottom: 14px;
    }
    .social-network {
      margin-top: 108px;
      [class^="ti-"] {
        margin-right: 37px;
      }
      .ti-linkedin {
        margin-right: 0px;
      }
    }
    .column{
      padding-top: 47px;
    }
    .copyright{
      padding-top: 46px;
    }
  }

}
@import "responsive";